{% extends 'base.html' %}

{% block title %}Seznam zápasů{% endblock %}

{% block content %}
<h2 class="display-4 text-center">Seznam zápasů</h2>
<div class="row mb-2">
    <div class="col-12">
        <table class="table table-responsive-lg table-striped table-hover">
            <thead class="bg-secondary">
            <tr>
                <th>Titul</th>
                <th>Autoři</th>
                <th>Vydavatelství</th>
                <th>Rok vydání</th>
                <th>Počet stran</th>
            </tr>
            </thead>
            <tbody>
            {% for zapas in zapas %}
            <tr>
                <td><strong><a href="#" class="text-info">{{ zapas.datum.upper }}</a></strong></td>
                <td>
                    {% for klub in zapas.datum.all %}
                    {% if not forloop.last %}, {% endif %}
                    {% endfor %}
                </td>
                <td>{{ zapas.datum }}</td>
                <td class="text-right">{{ zapas.domaci_skore }}</td>
                <td class="text-right">{{ zapas.hostujici_skore }}</td>
            </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
</div>
{% endblock %}