header {
    background-image: url('../img/ucl.jpeg');
    background-repeat: no-repeat;
    background-position: right 5% center;
}

.box-rounded {
    border-radius: 20px !important;
}

.logo-klubu {
    max-width: 25px;
}

table td {
    vertical-align: middle !important;
}



